language: scala
sudo: false

scala:
  - 2.11.11
  - 2.12.2

jdk: oraclejdk8

script:
  - if [[ "$TRAVIS_SCALA_VERSION" == 2.12* ]]; then bin/scalafmt --test; fi
  - sbt ++$TRAVIS_SCALA_VERSION +test +sbt-sangria-codegen/scripted

before_cache:
  # See http://www.scala-sbt.org/0.13/docs/Travis-CI-with-sbt.html
  - find $HOME/.sbt -name "*.lock" | xargs rm
  - find $HOME/.ivy2 -name "ivydata-*.properties" | xargs rm

cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt/boot
    - $HOME/.coursier
